<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Talleres Disponibles</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <nav>
    <a class="logo" href="/">Talleres Creativos</a>
    <div><a href="/talleres">Talleres</a></div>
  </nav>

  <main>
    <div class="container">
      <h1>Talleres Disponibles</h1>
      <p>Selecciona un taller para inscribirte.</p>

      <!-- Recorre el arreglo de talleres recibido desde el controller -->
      <div class="tarjetas">
        <% talleres.forEach(t => { %>
          <div class="tarjeta">
            <h3><%= t.nombre %></h3>
            <p class="precio">$<%= t.precio %> MXN</p>


<a class="btn" href="/talleres/<%= t.id %>">Ver detalle</a>
          </div>
        <% }) %>
      </div>
    </div>
  </main>

</body>
</html>
